@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for modern browsers */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
